<%= render "layouts/sidebar" %>

<div class="container-fluid">
    <div class="row rightbar">
        <div class="col-lg-5 list-container">
            <div class="list-content">
                <div class="list-title"><!-- Create a if/else for list titles --> Invoices</div>
            
                <div class="listings">
                    <div class="tabswrapper">
                        <div class="tablist">
                            <%= link_to "Unpaid", unpaid_client_invoices_path %>
                            <%= link_to "Paid", paid_client_invoices_path, class: "space" %>
                            <%= link_to "Draft", draft_client_invoices_path, class: "space" %>
                        </div>
                    </div>
                    
                    <div class="contactcards">
                        <div class="ccards-list">
                            <div class="cardsgroup">
                                <table class="table">
                                    <tbody>
                                        <% @invoices.each do |invoice| %>    
                                        <tr class= "clientcard" <% link_to edit_client_invoice_path(invoice.client, invoice) %>>
                                          <td><%= invoice.invoice_number %></td>
                                          <td><%= invoice.invoice_date %></td>
                                          <td><%= invoice.due_date %></td>
                                          <td><%= invoice.total_amount %></td>
                                          <td><%= link_to "Show", client_invoice_path(invoice.client, invoice), class: "btn btn-warning" %></td>
                                        </tr>
                                        <% end %>            
                                    </tbody>
                                </table>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%= render "layouts/projection" %>
        
    </div>
</div>