<div class="container">
    <%= invoice_header %>

    <div class="row">
        <%= render "layouts/navigation" %>
    </div>    
    
    <ul class="list-group">
        <li class="list-group-item">Invoice Number: <%= @invoice.invoice_number %></li>
        <li class="list-group-item">Invoice Date: <%= @invoice.invoice_date %></li>
        <li class="list-group-item">Due Date: <%= @invoice.due_date %></li>
    </ul>
    
    <p>
        <%= link_to "Edit this invoice", edit_partners_client_invoice_path(@invoice), class: "btn btn-secondary" %> | <%= link_to "Back to invoices", partners_client_invoices_path, class: "btn btn-dark" %>    
    </p>
</div>