<div class="container invoice-wrapper">
    <div class="row invoice-spacer">
        <div class="invoice-left col-lg-6">
            <div class="invoice-header">
                <%= link_to "Edit", edit_invoice_path(@invoice), class: "btn btn-sm btn-warning space" %>     <%= link_to "Delete", invoice_path(@invoice), method: :delete, data: {confirm: "Are you sure you want to delete this invoice? This cannot be undone."}, class: "btn btn-sm btn-secondary space" %>     <%= link_to "Back to invoices", invoices_path, class: "btn btn-sm btn-dark space" %>
                
                <div class="invoice-spacer"></div>
                
                <strong><%= @invoice.client.name %></strong>

                <div class="invoice-spacer"></div>

                <small class="text-muted">Invoice Number: <%= @invoice.invoice_number %></small>
            </div>
            
            <div class="invoice-content">
                <strong>Invoice Details</strong>
                
                <div class="invoice-spacer"></div>
                
                <ul class="list-unstyled">
                    <li class="text-muted"><strong>Client</strong></li>
                    <li><%= @invoice.client.name %></li>
                    <li class="invoice-spacer"></li>
                    <li class="text-muted"><strong>Invoice Amount</strong></li>
                    <li><%= number_to_currency(@invoice.total_amount, precision: 2) %></li>
                    <li class="invoice-spacer"></li>
                    <li class="text-muted"><strong>Invoice Number</strong></li>
                    <li><%= @invoice.invoice_number %></li>
                    <li class="invoice-spacer"></li>
                    <li class="text-muted"><strong>Invoice Date</strong></li>
                    <li><%= @invoice.invoice_date %></li>
                    <li class="invoice-spacer"></li>
                    <li class="text-muted"><strong>Due Date</strong></li>
                    <li>Due Date: <%= @invoice.due_date %></li>
                    <li class="invoice-spacer"></li>
                    <li class="text-muted"><strong>Services</strong></li>
                </ul>        
            </div>
            <div class="invoice-footer">
                <p class="h3 text-muted text-left">Total</p>
            </div>
        </div>
        <div class="invoice-right col-lg-6">
            <div class="invoice-header">
                <%= link_to "Pay Invoice", invoices_path, class: "btn btn-sm btn-success" %>    
            </div>
            
            <div class="invoice-footer">
                <p class="h2">
                    <%= number_to_currency(@invoice.total_amount, precision: 2) %>
                </p>                
            </div>
        </div>
    </div>   
</div>