<%= render "layouts/sidebar" %>

<div class="container-fluid">
    <div class="row rightbar">
        <div class="col-lg-5 list-container">
            <div class="list-content">
                <div class="list-title">
                    <h2>
                        Clients
                    </h2>
                </div>
                
                <div class="listings">
                    <div class="tabswrapper">
                        <div class="tablist">
                            <%= link_to "All", clients_path, class: "space" %>
                            <%= link_to "Existing", active_clients_path, class: "space" %>
                            <%= link_to "Archive", archive_clients_path, class: "space" %>
                        </div>
                    </div>
                    
                    <div class="contactcards">
                        <div class="ccards-list">
                            <div class="cardsgroup">
                                <table class="table" id="clients">
                                    <tbody>
                                        <% @clients.each do |client| %>
                                        <tr class= "clientcard" data-link="<%= edit_client_path(client) %>">
                                            <td class= "clientname"><%= client.name %></td>    
                                            <td class= "poc"><%= client.poc_number %></td>
                                            <td class= "poc"><%= client.poc_email %></td>
                                        </tr>
                                        <% end %>            
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%= render "layouts/projection" %>
        
    </div>
</div>