<div class="container">
    <%= client_header %>
    
    <div class="row">
        <%= render "layouts/navigation" %>
        <p class="space"><%= create_invoice %></p>   
        <p class="space"><%= view_invoice %></p> 
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">Client name: <%= @client.name %></li>
        <li class="list-group-item">Client type: <%= @client.client_type %></li>
        <li class="list-group-item">Primary Contact Name: <%= @client.poc_name %></li>
        <li class="list-group-item">Primary Contact Email: <%= @client.poc_email %></li>
        <li class="list-group-item">Primary Contact Phone: <%= @client.poc_number %></li>
    </ul>
    
    <p>
        <%= link_to "Edit this client", edit_partners_client_path(@client), class: "btn btn-secondary" %> | <%= link_to "Back to clients", partners_clients_path, class: "btn btn-dark" %>    
    </p>
</div>