<!--div class="sticky"-->    
    <div class="row toptobottom">
        <div class="col-lg-auto menu-container" id="leftbar">
            <div class="menutop">
                <div class="logo-container pt-3">
                    <%= image_tag "logo.png", size: "48x48" %>
                </div>

                <div class="spacer"></div>
                <div class="spacer"></div>                
                
                <div class="row icon-nav dropright">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=  link_to icon('fas', 'plus-square'), new_client_path, :size => "128x128", class: "icon-button" %>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="list-group-item"><%=  link_to "Client", new_client_path %></li>
                        <li class="list-group-item"><%=  link_to "Invoice", new_client_path, remote: true %></li>
                    </ul>
                </div>

                <div class="spacer"></div>
                <div class="spacer"></div>                
                <div class="spacer"></div>                 
                
                <div class="row icon-nav">
                    <%= link_to icon('fas', 'address-book'), clients_path, :size => "64x64", class: "icon-links" %>
                    <div class="icon-text">Clients</div>
                </div>
                <div class="row icon-nav">
                    <%= link_to icon('fas', 'file-invoice'), clients_path, :size => "64x64", class: "icon-links" %>  
                    <div class="icon-text">Invoices</div>
                </div>            
                <div class="row icon-nav">
                    <%= link_to icon('fas', 'cog'), clients_path, :size => "64x64", class: "icon-links" %>  
                    <div class="icon-text">Settings</div>
                </div>           
            </div>
    
            <div class="menubottom">
                <div class="userbadge-container dropright">
                    <div class="badgename" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= name_initials %>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="list-group-item"><span>Settings</span><%#= link_to "Settings", account_settings_path %></li>
                        <li class="list-group-item"><%= link_to "Logout", destroy_partner_session_path, method: :delete %></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
<!--/div-->    